.App {
  text-align: center;
}

.input-todo {
  height: 30px;
  width: 225px;
  font-size: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.todo {
  border: 1px solid orange;
  display: flex;
  justify-content: center;
}

.todo-text{
  border: 1px solid red;
  font-size: 20px;
}

.delete-btn {
  border: 1px solid blue;
  width: 25px;
  margin-left: 20px;
}