body {
  background: rgb(96, 191, 204);
}
.App {
  margin: auto;
  text-align: center;
  background: rgb(96, 192, 204);
}

.edit-todo {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 15px;
}

.update-todo {
  width: 85%;
  font-size: 22px;
  font-family: 'Indie Flower', cursive;
}

.todo-page {
  margin: auto;
  width: 85%;
  padding: 20px;
  background: #8B4513;
}

h1 {
  padding: 10px;
  color: rgb(22, 22, 22);
  font-family: 'Lobster';

}

.add-form{
  display: flex;
  justify-content: center;
}

button {
  vertical-align: bottom;
  font-size: 27px;
  padding: 0 15px 0 15px;
  margin-left: 15px;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Poor Story', cursive;
}

li {
  list-style: none;
}

.action-btns {
  display: flex;
  align-self: center;
}

.edit-btn {
  border: 0.5px solid rgb(99, 170, 156);
  font-size: 25px;
}

.edit-btn:hover {
  color: white;
  background-color:rgb(107, 174, 160);
  border: 0.5px solid 	rgb(17, 59, 53);
}

.delete-btn {
  border: 0.5px solid rgb(233, 99, 59);
  font-size: 25px;
}

.delete-btn:hover {
  color:white;
  background-color: rgb(233, 58, 58);
  border: 0.5px solid rgb(138, 15, 15);
}

.clear-btn {
  margin: 20px;
  border-style: none;
  color: rgb(233, 233, 233);
  background-color: rgb(113, 106, 216);
  padding: 10px;
  font-size: 24px;
}

.todo {
  margin: 15px;
  width: 90%;
  font-family: 'Merienda', cursive;
  display: flex;
  justify-content: space-between;
}

.todo-text {
  font-size: 23px;
  width: 85%;
  text-align: left;
}

.submit-todo {
  color: green;
  border-style: none;
  border: 1px solid rgb(13, 128, 13);
}

.submit-todo:hover{
  color: white;
  border-color: rgb(73, 90, 90);
  background-color: rgb(57, 160, 57);
}

.input-todo{
  width: 55%;
  font-size: 29px;
  font-family: 'Indie Flower', cursive;
}
